*{
    
}

header {
    /* border-bottom: 2px solid black; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;

    background-color: #363946;
    color: white;
    font-size: 1.5rem;
}

a {
    color:white;
}

h1 {
    padding: 25px;
}
.highScore {
    margin-top: 5%;
    font-size: 2rem;
    text-align: center;
    
}

#qBox {
    padding-top: 100px;
}

.gameTitle{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.gameInfo {
    padding-bottom: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
}

.question-box {
    /* margin: 10% 25%; */
    padding: 2rem;
    margin-left: 25%;
    margin-right:25%;
    /* border: 2px solid black; */
    
}

#question {
    padding:10%;
    font-size: 2rem;
    color: black;
}

 #start, .button {
    text-align: center;
    color:white;
    margin: 20px;
    background-color: #363946;
    border-radius: 4px;
    padding:2%;
    border: 2px solid black;
    font-size: 1.5rem;
   
}

.button:hover {
    box-shadow: 1px 0px 10px #99a1c5;
}

/* 
#optionList-off #option1, #optionList-off #option2, #optionList-off #option3, #optionList-off #option4 {
    
    margin: 20px;
    color:white;
    border-radius: 4px;
    padding:2%;
    padding-left: 25px;
    font-size: 1.5rem;
}

#optionList-start #option1  {
    text-align: center;
    margin: 20px;
    background-color: #363946;
    border-radius: 4px;
    padding:2%;
    border: 2px solid black;
    font-size: 1.5rem;
    color:white;
}

ol li:hover {
    box-shadow: 1px 0px 10px #99a1c5;
} */