*{
    
}

header {
    /* border-bottom: 2px solid black; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem;

    background-color: #363946;
    color: white;
    font-size: 1.5rem;
}

a {
    color:white;
}

.question-box {
    margin: 25% 50%;
    padding: 2rem;
    margin-left: 25%;
    margin-right:25%;
    border: 2px solid black;
    
}

#question {
    padding:10%;
    font-size: 2rem;
    color: black;
}

 #optionList-on #option1, #optionList-on #option2, #optionList-on #option3, #optionList-on #option4 {
    color:white;
    margin: 20px;
    background-color: #363946;
    border-radius: 4px;
    padding:2%;
    padding-left: 25px;
    padding-right: 75%;
    border: 2px solid black;
    font-size: 1.5rem;
}

#optionList-off #option1, #optionList-off #option2, #optionList-off #option3, #optionList-off #option4 {
    
    margin: 20px;
    color:white;
    border-radius: 4px;
    padding:2%;
    padding-left: 25px;
    padding-right: 75%;
    font-size: 1.5rem;
}

#optionList-start #option1  {
    text-align: center;
    margin: 20px;
    background-color: #363946;
    border-radius: 4px;
    padding:2%;
    border: 2px solid black;
    font-size: 1.5rem;
    color:white;
}

ol li:hover {
    box-shadow: 1px 0px 10px #99a1c5;
}